{% extends 'layout.html' %}
{% block body %}
<h2>Home - Jadwalkan Live</h2>

<form method="POST" action="{{ url_for('schedule') }}">
  <div class="card p-3">
    <label>Judul Video</label>
    <input type="text" name="title" class="form-control">

    <label class="mt-2">Tanggal & Jam</label>
    <input type="datetime-local" name="datetime" class="form-control">

    <label class="mt-2">Stream Key</label>
    <input type="text" name="stream_key" class="form-control">

    <label class="mt-2">RTMP URL</label>
    <input type="text" name="rtmp" value="rtmp://a.rtmp.youtube.com/live2" class="form-control">

    <label class="mt-2">Durasi (Menit)</label>
    <input type="number" name="duration" class="form-control" value="30">

    <label class="mt-2">Pilih File</label>
    <select name="file_path" class="form-select">
      {% for f in files %}
      <option value="{{ f.public_url }}">{{ f.name }}</option>
      {% endfor %}
    </select>

    <button class="btn btn-success mt-3">Jadwalkan</button>
  </div>
</form>
{% endblock %}
